body {
  background: url("../assets/img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  
  font-family: Montserrat;
}

main {
  width: 100vw;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  appearance: none;
}