
// container
.container {
  max-width: 81.25rem;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 41.75rem;
  }
}
@media screen and (max-width: 425px) {
  .container {
    max-width: 19.0575rem;
  }
}


// active links
.active_link {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

// inactive inactive links
.inactive_link {
  color: rgba(255, 255, 255, 0.5);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

