// container
.container {
  max-width: 81.25rem;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 41.75rem;
  }
}
@media screen and (max-width: 425px) {
  .container {
    max-width: 19.0575rem;
  }
}

// active links
.active_link {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.813rem;
}

// inactive inactive links
.inactive_link {
  color: rgba(255, 255, 255, 0.5);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.813rem;
}

@media screen and (max-width: 768px) {
  .active_link {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .inactive_link {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .active_link {
    line-height: 1.063rem;
    font-size: 0.875rem;
  }
  .inactive_link {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
}


// * icon card and design
.icon_card {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  img {
    padding: 0.63rem 0.62rem;
    border-radius: 0.625rem;
    background: rgba(196, 196, 196, 0.1);
  }
  }

  @media screen and (max-width: 425px){
    .icon_card{

    img {  
      padding: 0.31rem;
      border-radius: 0.625rem;
      background: rgba(196, 196, 196, 0.1);
  }
  }
  }
