.why_vaccination_section {
  background-color: red;
  height: 50vh;

  .why_vaccination_section_title {
    display: flex;
    gap: 15.97rem;

    // padding: 3.62rem 4.55rem 2.49rem 3.62rem;

    h3 {
      color: #fff;
      font-size: 2.99375rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.625rem;
      text-align: initial;
      flex: 1;
    }

    p {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1.24738rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem;
      flex: 1;
    }
  }
  .why_vaccination_section_info {
    display: flex;
  }
}
