@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../assets/img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat;
}

main {
  width: 100vw;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  max-width: 81.25rem;
  margin-inline: auto;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 41.75rem;
  }
}
@media screen and (max-width: 425px) {
  .container {
    max-width: 19.0575rem;
  }
}
.active_link {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.813rem;
}

.inactive_link {
  color: rgba(255, 255, 255, 0.5);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.813rem;
}

@media screen and (max-width: 768px) {
  .active_link {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .inactive_link {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .active_link {
    line-height: 1.063rem;
    font-size: 0.875rem;
  }
  .inactive_link {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
}
.icon_card {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.icon_card img {
  padding: 0.63rem 0.62rem;
  border-radius: 0.625rem;
  background: rgba(196, 196, 196, 0.1);
}

@media screen and (max-width: 425px) {
  .icon_card img {
    padding: 0.31rem;
    border-radius: 0.625rem;
    background: rgba(196, 196, 196, 0.1);
  }
}
.btn_secondary {
  display: inline-flex;
  padding: 1.25rem 1.625rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 1.25rem;
  background: rgba(196, 196, 196, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #17c2ec;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn_outline {
  display: inline-flex;
  padding: 1.25rem 1.5625rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 1.25rem;
  border: 2px solid #17c2ec;
  background: rgba(196, 196, 196, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn_primary {
  display: inline-flex;
  padding: 1.25rem 1.5625rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 1.25rem;
  background: #17c2ec;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .btn_secondary {
    font-size: 1.25rem;
  }
  .btn_outline {
    font-size: 1.25rem;
  }
  .btn_primary {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 425px) {
  .btn_secondary {
    font-size: 0.875rem;
  }
  .btn_outline {
    font-size: 0.875rem;
  }
  .btn_primary {
    font-size: 0.875rem;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 2rem;
}
header .main_nav ul {
  display: flex;
  list-style: none;
  gap: 1.56rem;
}
header .main_nav ul li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
header .ham_burger {
  display: none;
}

@media screen and (max-width: 768px) {
  header .main_nav {
    display: none;
  }
  header .header-actions {
    display: none;
  }
  header .ham_burger {
    cursor: pointer;
    display: block;
  }
  header .ham_burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10rem;
  padding-block: 3rem;
}
footer nav ul {
  display: flex;
  list-style: none;
  gap: 1.56rem;
}
footer nav ul li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
footer .footer-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.63rem;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 2.5rem;
    align-items: start;
  }
  footer nav ul {
    gap: 1.56rem;
  }
  footer .footer-social-links {
    gap: 0.39rem;
  }
}
@media screen and (max-width: 425px) {
  footer {
    flex-direction: column;
    gap: 1.25rem;
    align-items: start;
    padding-bottom: 1.88rem;
  }
  footer nav ul {
    flex-direction: column;
    gap: 0.62rem;
  }
  footer .footer-social-links {
    gap: 0.22rem;
  }
}
.information_section {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}
.information_section p {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.813rem;
}
.information_section .info_desc p:first-child {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.813rem;
}
.information_section .information_section_content_second {
  display: flex;
  align-items: center;
  gap: 3.12rem;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  background: rgba(196, 196, 196, 0.05);
  padding: 3.19rem 2rem 2.56rem;
}
.information_section button {
  margin-left: 5.44rem;
}

@media screen and (max-width: 768px) {
  .information_section {
    gap: 2.81rem;
  }
  .information_section .information_section_content_second {
    flex-wrap: wrap;
    align-items: center;
    gap: 3.12rem;
    padding: 2.31rem 0.09rem 2.81rem 0.75rem;
  }
  .information_section .information_section_content_second .icon_card p {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .information_section
    .information_section_content_second
    .icon_card
    .info_desc
    p:first-child {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .information_section button {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 4.27rem;
    margin-right: 2.25rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .information_section {
    gap: 1.56rem;
  }
  .information_section .icon_card p {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
  .information_section .information_section_content_first {
    padding-left: 0.63rem;
  }
  .information_section .information_section_content_second {
    padding: 1.25rem 4.73rem 0.63rem 0.63rem;
    gap: 1.5rem;
  }
  .information_section .information_section_content_second .icon_card {
    gap: 0.87rem;
  }
  .information_section .information_section_content_second .icon_card p {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
  .information_section
    .information_section_content_second
    .icon_card
    .info_desc
    p:first-child {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
  .information_section button {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
}
.companies {
  width: 100%;
  min-height: 9.375rem;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
}
.companies .companies_logo_container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.companies .companies_logo_container img {
  max-width: 18.04169rem;
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .companies {
    height: 5rem;
  }
  .companies .companies_logo_container img {
    max-width: 9.27rem;
    opacity: 100%;
  }
}
@media screen and (max-width: 425px) {
  .companies {
    height: 2.4rem;
  }
  .companies .companies_logo_container img {
    max-width: 4.53rem;
    opacity: 100%;
  }
}
.why_vaccination_section {
  background-color: red;
  height: 50vh;
}
.why_vaccination_section .why_vaccination_section_title {
  display: flex;
  gap: 15.97rem;
}
.why_vaccination_section .why_vaccination_section_title h3 {
  color: #fff;
  font-size: 2.99375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.625rem;
  text-align: initial;
  flex: 1;
}
.why_vaccination_section .why_vaccination_section_title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.24738rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  flex: 1;
}
.why_vaccination_section .why_vaccination_section_info {
  display: flex;
}

.landing_section {
  display: flex;
  align-items: start;
  padding-block: 8rem;
}
.landing_section .info {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
}
.landing_section .info .title {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.landing_section .info .title .title_1 {
  color: #17c2ec;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.landing_section .info .title .title_2 h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.landing_section .info .title .title_2 h4 {
  color: #17c2ec;
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.landing_section .info .summary {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.landing_section .info .banner_actions {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  width: 100%;
}
.landing_section .banner {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
}
.landing_section .banner .banner_cover {
  position: relative;
  margin: auto;
  height: 35.6875rem;
  width: 70%;
}
.landing_section .banner .banner_cover img {
  width: 100%;
  height: 100%;
  border-radius: 2.6995rem;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}
.landing_section .banner .banner_cover .illustration_cover {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 6.25rem;
  height: 6.25rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.landing_section .banner .banner_cover .illustration_cover img {
  width: 5rem;
}
.landing_section .banner .banner_cover .cover_one {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.landing_section .banner .banner_cover .cover_two {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.landing_section .banner .banner_cover .specialists {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-10%, 50%);
  width: 23.375rem;
  border-radius: 1.25rem;
  background: rgba(196, 196, 196, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 1.25rem;
  align-items: center;
  padding: 1.25rem;
}
.landing_section .banner .banner_cover .specialists .specialist_container {
  width: 50%;
  height: 3.75rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: -10px;
}
.landing_section .banner .banner_cover .specialists .specialist_container img {
  width: 3.75rem;
  height: 3.75rem;
}
.landing_section .banner .banner_cover .specialists .specialist_number {
  display: flex;
  flex-direction: column;
}
.landing_section .banner .banner_cover .specialists .specialist_number .count {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.landing_section
  .banner
  .banner_cover
  .specialists
  .specialist_number
  .count_name {
  color: #17c2ec;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .landing_section {
    flex-direction: column;
    align-items: center;
    gap: 3.44rem;
  }
  .landing_section .info {
    width: 100%;
  }
  .landing_section .info .title {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .landing_section .info .title .title_1 {
    font-size: 1.125rem;
  }
  .landing_section .info .title .title_2 h2 {
    font-size: 2.25rem;
  }
  .landing_section .info .title .title_2 h4 {
    font-size: 2.25rem;
  }
  .landing_section .info .summary {
    font-size: 1.25rem;
  }
  .landing_section .banner {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .landing_section {
    align-items: center;
    gap: 3.44rem;
  }
  .landing_section .info {
    width: 100%;
  }
  .landing_section .info .title {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .landing_section .info .title .title_1 {
    font-size: 0.75rem;
  }
  .landing_section .info .title .title_2 h2 {
    font-size: 1.5rem;
  }
  .landing_section .info .title .title_2 h4 {
    font-size: 1.5rem;
  }
  .landing_section .info .summary {
    font-size: 0.875rem;
  }
  .landing_section .banner {
    width: 100%;
  }
  .landing_section .banner .banner_cover {
    width: 100%;
  }
}
.check_covid_status {
  margin-top: 3.87rem;
  border-radius: 1.25rem;
  background: rgba(196, 196, 196, 0.1);
  min-height: 21.25rem;
}
.check_covid_status .title {
  width: 100%;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  background: rgba(196, 196, 196, 0.05);
  height: 6.3rem;
  display: flex;
  align-items: center;
  padding-inline: 5.81rem;
}
.check_covid_status .title p {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.check_covid_status .covid_status_body {
  min-height: 21.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.19rem;
  padding-inline: 5.81rem;
  padding-block: 1.94rem;
}
.check_covid_status .covid_status_body .check_status_form {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}
.check_covid_status .covid_status_body .check_status_form .form_controls {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}
.check_covid_status .covid_status_body .check_status_form .form_controls input {
  flex: 1;
  height: 4.3125rem;
  padding-inline: 1.6rem;
  padding-block: 1.25rem;
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 1.25rem;
  outline: none;
  border: 3px solid rgba(196, 196, 196, 0.15);
  background: transparent;
}
.check_covid_status
  .covid_status_body
  .check_status_form
  .form_controls
  input:focus {
  border: 3px solid #17c2ec;
}
.check_covid_status .covid_status_body .check_status_form .form_actions button {
  color: #17c2ec;
}
.check_covid_status .covid_status_body .certificate_info {
  border-radius: 1.25rem;
  background: rgba(196, 196, 196, 0.05);
  min-height: 4.375rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check_covid_status .covid_status_body .certificate_info p {
  color: #17c2ec;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 1rem;
}
.check_covid_status .covid_status_body .certificate_info p a {
  color: #17c2ec;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

@media screen and (max-width: 768px) {
  .check_covid_status .title {
    padding-inline: 4rem;
  }
  .check_covid_status .title p {
    font-size: 1.25rem;
  }
  .check_covid_status .covid_status_body {
    padding-inline: 4rem;
  }
  .check_covid_status .covid_status_body .check_status_form {
    flex-direction: column;
    width: 100%;
  }
  .check_covid_status .covid_status_body .check_status_form .form_controls {
    flex-direction: column;
    width: 100%;
  }
  .check_covid_status
    .covid_status_body
    .check_status_form
    .form_controls
    input {
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
  }
  .check_covid_status .covid_status_body .certificate_info p {
    font-size: 0.875rem;
  }
  .check_covid_status .covid_status_body .certificate_info p a {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 425px) {
  .check_covid_status .title {
    width: 100%;
    padding-inline: 2rem;
  }
  .check_covid_status .title p {
    font-size: 0.625rem;
  }
  .check_covid_status .covid_status_body {
    padding-inline: 1rem;
  }
  .check_covid_status .covid_status_body .check_status_form {
    flex-direction: column;
    width: 100%;
  }
  .check_covid_status .covid_status_body .check_status_form .form_controls {
    flex-direction: column;
    width: 100%;
  }
  .check_covid_status
    .covid_status_body
    .check_status_form
    .form_controls
    input {
    font-size: 0.75rem;
    font-weight: 500;
    width: 100%;
  }
  .check_covid_status .covid_status_body .certificate_info p {
    font-size: 0.625rem;
  }
  .check_covid_status .covid_status_body .certificate_info p a {
    font-size: 0.625rem;
  }
}
.registration_section {
  min-height: 46.875rem;
  display: flex;
  background-color: lightgray;
  padding: 4.37rem;
  margin-top: 3.5rem;
}
.registration_section .registration_form_title_small_screen {
  display: none;
}
.registration_section .registration_form {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.5rem;
}
.registration_section .registration_form .registration_form_title {
  color: #000;
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 12.5rem;
}
.registration_section .registration_form .form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.registration_section .registration_form .form .form_controls {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.registration_section .registration_form .form .form_controls .form_control {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.registration_section
  .registration_form
  .form
  .form_controls
  .form_control
  label {
  color: #000;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.813rem;
}
.registration_section
  .registration_form
  .form
  .form_controls
  .form_control
  input {
  width: 100%;
  height: 4.375rem;
  border-radius: 1.25rem;
  background: rgba(11, 21, 60, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.813rem;
  padding-inline: 1.88rem;
  border: none;
}
.registration_section .registration_form .form .form_controls .form_control p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}
.registration_section
  .registration_form
  .form
  .form_controls
  .form_control
  .row {
  display: flex;
  gap: 2.25rem;
}
.registration_section
  .registration_form
  .form
  .form_controls
  .form_control
  .row
  .input {
  display: flex;
  border-radius: 1.25rem;
  background: rgba(11, 21, 60, 0.15);
  padding: 0.62rem;
  width: 70%;
}
.registration_section
  .registration_form
  .form
  .form_controls
  .form_control
  .row
  .input
  .flag {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.62rem;
  padding: 0.62rem;
  border-right: 4px solid rgba(0, 0, 0, 0.1);
}
.registration_section
  .registration_form
  .form
  .form_controls
  .form_control
  .row
  .input
  input {
  background: transparent;
}
.registration_section
  .registration_form
  .form
  .form_controls
  .form_control
  .row
  button {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
}
.registration_section .registration_form .form .form_actions button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration_section .registration_form .form .already_registered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.88rem;
}
.registration_section .registration_form .form .already_registered .question {
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.registration_section .registration_form .form .already_registered .check_stat {
  color: #17c2ec;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.registration_section .status_banner {
  flex: 1;
  position: relative;
  width: 100%;
}
.registration_section .status_banner img {
  height: 100%;
  max-width: 100%;
}
.registration_section .status_banner button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 30;
  transform: translateX(-50%);
  font-size: 1.25rem;
  border: none;
  padding: 0.81rem 2.06rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
  .registration_section {
    flex-direction: column;
  }
  .registration_section .registration_form_title_small_screen {
    display: flex;
    color: #000;
    font-family: Montserrat;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.75rem;
    margin-bottom: 2.5rem;
  }
  .registration_section .registration_form {
    order: 2;
  }
  .registration_section .registration_form .registration_form_title {
    display: none;
  }
  .registration_section .registration_form .form {
    width: 100%;
  }
  .registration_section
    .registration_form
    .form
    .form_controls
    .form_control
    label {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .registration_section
    .registration_form
    .form
    .form_controls
    .form_control
    input {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .registration_section .status_banner {
    order: 1;
    margin-bottom: 4.37rem;
  }
  .registration_section .status_banner button {
    bottom: 4.04rem;
    left: 13rem;
  }
}
@media screen and (max-width: 425px) {
  .registration_section {
    padding: 2.5rem;
  }
  .registration_section .registration_form_title_small_screen {
    font-size: 1.5rem;
    line-height: 1.813rem;
    text-align: center;
    margin-bottom: 1.25rem;
  }
  .registration_section .registration_form .form {
    gap: 0;
  }
  .registration_section
    .registration_form
    .form
    .form_controls
    .form_control
    label {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
  .registration_section
    .registration_form
    .form
    .form_controls
    .form_control
    input {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
  .registration_section
    .registration_form
    .form
    .form_controls
    .form_control
    p {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
  .registration_section
    .registration_form
    .form
    .form_controls
    .form_control
    .row {
    flex-direction: column;
    gap: 1.25rem;
  }
  .registration_section
    .registration_form
    .form
    .form_controls
    .form_control
    .row
    .input {
    width: 100%;
    padding: 0.31rem;
    align-items: center;
  }
  .registration_section
    .registration_form
    .form
    .form_controls
    .form_control
    .row
    .flag {
    gap: 0.31rem !important;
    padding: 0.31rem !important;
  }
  .registration_section
    .registration_form
    .form
    .form_controls
    .form_control
    .row
    button {
    width: 50%;
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
  .registration_section .registration_form .form .form_actions button {
    margin: 3.75rem 0 1.5rem;
  }
  .registration_section .registration_form .form .already_registered {
    gap: 1.25rem;
  }
  .registration_section .registration_form .form .already_registered .question {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
  .registration_section
    .registration_form
    .form
    .already_registered
    .check_stat {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
  .registration_section .status_banner {
    order: 1;
    margin-bottom: 4.37rem;
  }
  .registration_section .status_banner button {
    bottom: 4.04rem;
    left: 13rem;
  }
} /*# sourceMappingURL=main.css.map */
